.news-feed-main-container h4 {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.news-feed-main-container p {
    margin-bottom: 0;
}
.news-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.loading-animation-content-container {
    margin: 4em;
    text-align: center;
}
.loading-animation-news {
    display: inline-block;
}
.accent-text {
    color: #FFA000;
}
.bolded {
    font-weight: 500;
}
p {
    font-size: 1.2em;
}
a {
    font-weight: 400;
    color: #212121; 
}
a:hover {
    color: #424242;
    text-decoration: none;
}