body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.main_container {
  margin: 2em;
}
.red_text {
  color: red;
}
.green_text {
  color: green;
}
.ticker-img {
  width: 16px;
  height: 16px;
}
.cursor-pointer {
  cursor: pointer;
}
.content-box {
  border: 1px lightgray solid;
  border-radius: 4px;
  width: 100%;
  padding: 1em;
}
.loading-animation-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  padding: 2em;
  padding-top: 4em;
  text-align: center;
}
